@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Roboto+Slab:wght@200&display=swap');

:root {
  --title-font:'Macondo', cursive;
  --content-font: 'Roboto Slab', serif;
}

#root {
  background: linear-gradient(45deg, rgba(255, 0, 0, 0.8), rgba(0,0,255, 0.5));
  background-image: url("https://i.imgur.com/1VekgbR.jpg");
  background-size: cover;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#board {
  height: 80vh;
  width: 70vw;
  display: grid;
  grid-template: 10% 30% 1fr 1fr / 1fr 1fr 1fr 1fr;
}

.light-board {
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  box-shadow: 10px 10px 10px black;
}

.dark-board {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  box-shadow: 10px 10px 10px black;
}

.components-dark {
  background-color: rgba(0, 0, 0, 0.6);
}

.components-light {
  background-color: rgba(255, 255, 255, 0.8);
}

header {
  grid-area: 1 / 1 / span 1 / span 4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: var(--title-font);
}

#side-bar {
  grid-area: 2 / 1 / span 3 / 1 ;
  display: flex;
  flex-direction: column;
  font-family: var(--content-font);
}

#side-bar p {
  margin-left: 10%;
}

.top-row {
  margin: 10px;
  font-family: var(--title-font);
}

.top-row p {
  margin-left: 10px;
}

#analysis {
  display: flex;
  justify-content: center;
  flex-direction: column;  
  align-items: center;
}

#visitors {
  grid-area: 3 / 2 / span 2 / span 3;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  width: 95%;
  font-family: var(--title-font);
}

#graph {
  height: 70%;
  width: 90%;
  border: 2px rgb(2, 206, 217) solid;
  margin: 10px;
}
